# Python
__pycache__/
*.pyc
.pytest_cache/
*.egg-info/
venv/

# Go
apps/orders-api/orders-api

# Node
node_modules/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
*.tar

# Local docs
Documentation/
